/*body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    /* Add this line to make the footer appear at the bottom /
    min-height: 100vh;
    /* Add this line to make the footer appear at the bottom /
  }

  main {
    background-color: darkseagreen;
    width: 80%;
    position: relative;
    left: 10%;
    flex: 1;
    /* Add this line to make the main content take remaining vertical space *
  }
 header {
    width: 80%;
    position: relative;
    left: 10%;
    flex: 1;
    /* Add this line to make the main content take remaining vertical space *
  }
*/

  body {
    max-height: 100%;
    width: 100%;
    background-color: whitesmoke;
  }

  main {
    position: absolute;
    padding-right: 0px;
    margin-right: 0px;
    right: 0;
    width: 100%;
  }

  .tomatolovecarrot {
    background: url('img/tomatolovecarrot-img-1.png');
  }

  .periodictable {
    background: url('img/periodictable-img-1.jpg');
  }

  .tarotcards {
    background: url('img/tarot-cards-img-1.png');
  }

  .bookkeeper {
    background: url('img/bookkeeper.jpg');
  }

  .imgmapofspecies {
    background: url('img/imgmapofspeices.png');
  }

  .color-crayons {
    background: url('img/color-crayons-img-2.png');
  }

  .noahsark {
    background: url('img/noahs-ark.png');
  }

  .runes {
    background: url('img/runes-img-1.png');
  }

  .folktale {
    background: url('img/folktale-img-1.png');
  }

  .folktale {
    background: url('img/folktale-img-1.png');
  }

  .neonnomad {
    background: url('img/neonnomad.png');
  }

  .formflow {
    background: url('img/formflow.png');
  }

  .madlibs {
    background: url('img/madlibs.png');
  }

  .container {
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-color: black;
    background-size: contain;
    background-position: center;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    margin: 50px;
  }

  .overlay {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background: rgba(77, 77, 77, .9);
    color: darkseagreen;
    opacity: 0;
    transition: all 0.5s;
    font-family: 'Playfair Display', serif;
  }

  .items {
    padding-left: 20px;
    letter-spacing: 3px;
  }

  .head {
    font-size: 30px;
    line-height: 40px;
    transform: translateY(40px);
    transition: all 0.7s;

    hr {
      display: block;
      width: 0;
      border: none;
      border-bottom: solid 2px darkseagreen;
      position: absolute;
      bottom: 0;
      left: 20px;
      transition: all .5s;
    }
  }

  .price {
    font-size: 22px;
    line-height: 10px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;

    .old {
      text-decoration: line-through;
      color: lighten(rgb(77, 77, 77), 40%);
    }
  }

  .cart {
    font-size: 12px;
    opacity: 0;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    transform: translateY(40px);
    transition: all 0.7s;

    i {
      font-size: 16px;
    }

    span {
      margin-left: 10px;
    }
  }

  .container:hover .overlay {
    opacity: 1;

    & .head {
      transform: translateY(0px);
    }

    & hr {
      width: 75px;
      transition-delay: 0.4s;
    }

    & .price {
      transform: translateY(0px);
      transition-delay: 0.3s;
      opacity: 1;
    }

    & .cart {
      transform: translateY(0px);
      transition-delay: 0.6s;
      opacity: 1;
    }
  }

  a {
    text-decoration: none;
    color: darkseagreen;
  }

  .hidden {
    display: none;
  }
 

  @media only screen and (max-width: 1024px) {
    #desktop {
      display: none;
    }
    #mobile {
      position: fixed;
    }
    .content {
      overflow: scroll;
      position: relative;
      margin-top: 10%;
      overflow-x: hidden;
    }
    
    .portfolio {
      overflow: scroll;
      position: relative;
      overflow-x: hidden;
    }

    .avatar {
      width: 150px;
      border-radius: 50%;
    }
  
    #about {
      background-color: whitesmoke;
      text-align: center;
      position: relative;
      left: 5%;
      top: 20%;
      bottom: 20%;
      max-width: 90%;
    }
  
    .aboutparent {
      display: flex;
      flex-direction: column;
      position: relative;
    }
  
    .aboutchild1 {
      position: relative;
      justify-content: center;
    }
  
    .aboutchild2 {
      position: relative;
    }
  
    /* For mobile phones: */
     /* Style the navigation menu */
    .topnav {
      overflow: hidden;
      background-color: #333;
      position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
      display: none;
    }

    /* Style navigation menu links */
    .topnav a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
      background: black;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    /* Style the active link (or home/logo) */
    .active {
      background-color: darkseagreen;
      color: white;
    } 
    
  .tab {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    margin-bottom: 10px;
    font-size: 17px;
  }

  .tab button {
    background-color: transparent;
    color: darkseagreen;
    border: none;
    padding: 0 20px;
    margin: 0 5px;
    cursor: pointer;
  }

  .tab button:hover {
    color:#fff;
  }

  .tab button.active {
    color: #fff;
  }

  
  .tabcontent {
   /* display: none; */
  }

  .tab {
    overflow: hidden;
    display: flex;
    justify-content: left;
    margin-bottom: 10px; 
    flex-direction: column;
  }

  .tab button {
    background-color: transparent;
    color: darkseagreen;
    border: none;
    padding: 0 20px;
    margin: 0 5px;
    cursor: pointer;
  }

  .tab button:hover {
    color:#fff;
  }

  .tab button.active {
    color: #fff;
  }
  }

  
  
  @media only screen and (min-width: 1025px) {
    body {
    overflow: hidden;
    }
    #mobile {
      display: none;
    }
    
    .portfolio {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      position: absolute;
      right: 0;
    }

    .content {
      flex-grow: 1;
      background-color: whitesmoke;
      overflow: scroll;
      position: absolute;
      left: 20%;
      right: 0;
      height: 100vh;
      padding-right: 0px;
      margin-right: 0px;
    }

    .avatar {
      vertical-align: middle;
      width: 250px;
      border-radius: 50%;
    }
  
    #about {
      background-color: whitesmoke;
      text-align: center;
      position: absolute;
      width: 80%;
      max-height: 100vh;
      top: 20%;
      bottom: 20%;
    }
  
    .aboutparent {
      display: flex;
      flex-direction: column;
      position: absolute;
      padding-left: 5%;
      left: 20%;
      width: 40%;
    }
  
    .aboutchild1 {
      position: relative;
      justify-content: center;
    }
  
    .aboutchild2 {
      position: relative;
    }
  
    .tab {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: start;
      margin-bottom: 10px;
    }
  
    .tab button {
      background-color: transparent;
      color: darkseagreen;
      border: none;
      padding: 0 20px;
      margin: 0 5px;
      cursor: pointer;
    }
  
    .tab button:hover {
      color:#fff;
    }
  
    .tab button.active {
      color: #fff;
    }
  
    
    .tabcontent {
     /* display: none; */
    }
  
    .tab {
      overflow: hidden;
      display: flex;
      justify-content: left;
      margin-bottom: 10px; 
      flex-direction: column;
    }
  
    .tab button {
      background-color: transparent;
      color: darkseagreen;
      border: none;
      padding: 0 20px;
      margin: 0 5px;
      cursor: pointer;
    }
  
    .tab button:hover {
      color:#fff;
    }
  
    .tab button.active {
      color: #fff;
    }
  }