@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@font-face {
  font-family: chickenPie;
  src: url(Chickenpie.ttf);
}
@font-face {
  font-family: Northwest;
  src: url(NORTHWEST-Light.ttf);
}
@font-face {
  font-family: WildySans;
  src: url(WildySans.ttf);
}
body {
  margin: 0;
  padding: 0;
  color: #F2F2F2;
  margin: 30px 0;
  background-color:#f5ced5;
} 

h1, h2 {
  font-family: "chickenPie", serif;
}

h3, h4, h5, h6 {
  font-family: "Cinzel", serif;
}

.name {
  font-family: "Zeyada", cursive;
}

main {
  background-color: #2e2736;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 20px;
}

.container {
  padding: 60px;
  font-size: 18px;
  min-height: 100vh;
}

.container2 {
  padding: 60px;
  font-size: 18px;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container2 h2 {
  text-align: right;
}
.profile-header {
}

.profile-image img {
  width: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info {
}

.profile-info h1 {
  color: #2e2736;
  font-family: "WildySans";
  margin: 0;
  font-size: 10vh;
}

.profile-info p {
  font-size: 5vh;
  font-family: "Playfair Display", serif;
}

.profile-content h2 {
  color: #F5CED5;
  margin-top: 30px;
}

.profile-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.fa-icon {
  text-decoration: none;

}
   /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */

}

.modaltext {

  color: black;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

#myBtn {
  border: 0px;
  background-color: inherit;
  cursor: pointer;
color: #F2F2F2;
}

h1 {
  color: #F2F2F2;
  text-align: center;
}

p {
  color: #F2F2F2;
}

h6 {
  color: #F9F2F2;
  text-align: center;
  margin: 30px 0;
}

.runes-container {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.rune-card {
  background-color: #F2F2F2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 30px;
  width: min-content;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  overflow: hidden;
  border-radius: 10px;
}

.rune-card:hover {
  transform: scale(1.05);
  background-color: #57425d;
}

.rune-card h3 {
  color: #1A2238;
  font-size: 42px;
  margin-bottom: 10px;
  transition: opacity 0.3s ease;
}

.rune-card:hover h3 {
  color: #f2f2f2;
}

.rune-card p {
  color: #f2f2f2;
  font-size: 16px;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}


.rune-card:hover p {
  opacity: 1;
}
.fa-icon {
  font-size: 32px; 
  padding: 8px;
  color: #f2f2f2;
  text-decoration: none;
}
.fa-icon:hover {
  color: #f4c080;
}
a {
color: #f4c080;
text-decoration: none;
}
.resources-section {
  padding: 60px 0;
}

.resources-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.resource-card {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.resource-card:hover {
}

.resource-card h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #252238;
}

.resource-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.resource-list li {
  margin-bottom: 10px;
}

.resource-list li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.resource-list li a:hover {
  color: #8a94d5;
  border-radius: 2px;
  padding: 2px;
}

footer {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  align-content: right;
}




.image-section {
  padding: 40px 0;
}

.section-title {
  
  text-align: center;
  margin-bottom: 20px;
}

.section-title a {
  color: #F2F2F2;
}
.section-title a:hover {
  color: #f4c080;
}

.image-container {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

@media only screen and (max-width: 475px) {

  .ant {
    width: 300px;
    margin: auto;
  }
  .image-container {
    width: 300px;
    height: 215px;
    margin: auto;
  }
  .overlay-text {
    display: none;
  }
  .phone-texts {
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 20px;
  }
  #navbar {
    display: none;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 10;
    font-family: "Playfair Display", serif;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
}

@media only screen and (min-width:476px) and (max-width: 1024px) {


.ant {
  width: 360px;
  margin: auto;
}
.image-container {
  position: relative;
  width: 360px;
  height: 235px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
.overlay-text {
  display: none;
}
.phone-texts {
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 20px;
}


#navbar {
  display: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 10;
  font-family: "Playfair Display", serif;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
}
@media only screen and (min-width: 1025px) {
.ant {
  width: 800px;
}
  .overlay-text {
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 20px;
  }
.phone-texts {
  display: none;
}
.comp-hidden, .sidenav {
  display: none;
}
#navbar {
  position: sticky;
  background-color: #5a4261;
  width: 900px;
  justify-content: center;
  z-index: 99;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Playfair Display", serif;
}
/* Navbar links */
#navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  flex-grow: 1;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}

#pph {
  position: relative;
  top: 200px;
}

hr {
  color: #58556A;
}
